<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dictionary">
	<select id="getDictionaryItemByDictionaryId" parameterType="long" resultType="map">
       select id,DICITEMDESC,DICITEMID,DICITEMNAME,PARENTID from DictionaryItem where DICTIONARY_ID = #{_parameter}
       order by id desc
    </select>

    <select id="getDictionaryItemByDictId" parameterType="long" resultType="com.fitech.dto.DictionaryItemDto">
        SELECT
        d.ID,
        d.DICITEMDESC,
        d.DICITEMID,
        d.DICITEMNAME,
        d.PARENTID,
        t.DICNAME,
        e.DICITEMNAME as parentName
        FROM
        DictionaryItem d
        LEFT JOIN TZDICTIONARY t on t.ID=d.DICTIONARY_ID
        LEFT JOIN DictionaryItem e ON d.PARENTID = e.id
        where d.DICTIONARY_ID = #{_parameter}
        order by id desc
    </select>
	<select id="getDictionaryItemByDicItemName" parameterType="map" resultType="map">
	
       select id,DICITEMDESC,DICITEMID,DICITEMNAME from DictionaryItem where DICTIONARY_ID = #{id}
       <if test="dicItemName != null and dicItemName != ''">
       		and dicItemName like '%${dicItemName}%'
       </if>
       order by id desc
    </select>

    <select id="beenUsedByAccountTemplate" parameterType="Long" resultType="Long">
        select count(*) from (
            select id from accountField ac
            where ac.dicId = #{dicId}
        )a
    </select>

    <select id="getNextDicId" parameterType="long" resultType="com.fitech.domain.account.Dictionary">
        SELECT * FROM TZDICTIONARY where PARENTID=#{id}
    </select>

    <select id="getDicId" parameterType="string" resultType="com.fitech.domain.account.Dictionary">
      SELECT * FROM TZDICTIONARY where ${sql}
    </select>


    <select id="getAllDic" resultType="DictionaryDto">
        SELECT
            A.ID,
            A.DICDESC,
            A.DICNAME,
            A.ISENABLE,
            A.PARENTID,
            B.DICNAME AS PARENTNAME
        FROM
            TZDICTIONARY A
        left  JOIN TZDICTIONARY B ON  B.ID=A.PARENTID
    </select>

    <insert id="addDictionary" >
      insert into TZDICTIONARY(id,dicdesc,dicname,isenable,parentid) values (#{Id},#{dicDesc},#{dicName},#{isEnable},#{parentId})
    </insert>

    <insert id="addDictionaryItem" >
      insert into dictionaryitem(id,
       dicitemdesc,
       dicitemid,
       dicitemname,
       parentid,
       dictionary_id )
        values (#{id},#{dicItemDesc},#{dicItemId},#{dicItemName},#{parentId},#{dictionaryId})
    </insert>

    <select id="searchDictionary" resultType="AccountDicVo">
    select t.id as dicId,
       t.dicname,
       t.parentid    as dicParentId,
       t.isenable    as dicIsEnabel,
       t.dicdesc     as dicDescription,
       d.id          as itemId,
       d.dicitemid   as dicItemId,
       d.dicitemname,
       d.parentid    as dicItemParentId,
       d.dicitemdesc as dicItemDescription
      from TZDICTIONARY t
     inner join DICTIONARYITEM d
    on t.id = d.dictionary_id
    </select>
</mapper>
