/.idea
/account-domain/*.classpath
/account-domain/.settings
/.settings
/*.project
/account-domain/*.project
/account-domain/target
/account-repository/.settings
/account-repository/target
/account-service/.settings
/account-service/target
/*.iml
/account-repository/*.iml
/account-repository/*.classpath
/account-service/*.classpath
/account-service/*.project
/account-service/*.iml
/account-repository/*.project
/account-domain/*.iml
