<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="accountEditLogMapper">
	<!-- <resultMap id="accountEditLog" type="com.fitech.domain.account.AccountEditLogItem">
		<result property="editBeforeValue" column="editBeforeValue" />
		<result property="editAfterValue" column="editAfterValue" />
		<result property="fieldName" column="fieldName" />
		<result property="fieldId" column="fieldId" />
		
		<result property="accountEditLog.editUser" column="editUser" />
		<result property="accountEditLog.editTime" column="editTime" />
		<result property="accountEditLog.editDate" column="editDate" />
		<result property="accountEditLog.editBeforeValue" column="institutionId" />
		<result property="accountEditLog.acccountId" column="acccountId" />
		<result property="accountEditLog.accountName" column="accountName" />
		<result property="accountEditLog.institutionId" column="institutionId" />
		<result property="accountEditLog.institutionName" column="institutionName" />
		<result property="accountEditLog.term" column="term" />
	</resultMap> -->

	<!-- 修改痕迹查询 -->
	<select id="findAccountEditLog" parameterType="com.fitech.domain.account.AccountEditLog" resultType="com.fitech.domain.account.AccountEditLog">
		select al.acccountId,
	       al.accountName,
	       al.institutionId,
	       al.institutionName,
	       to_char(to_date(al.term, 'yyyy-MM-dd'), 'yyyy-MM-dd') as term,
	       al.editUser,
	       al.editTime,
	       al.editDate,
	       ai.editBeforeValue,
	       ai.editAfterValue,
	       ai.fieldName,
	       ai.fieldId
	  from ACCOUNT_EDITlOG al, ACCOUNT_EDITlOGITEM ai
	 	where al.id = ai.accounteditlog_id
		<if test="accountName != null and accountName != ''">
			and al.accountName=#{accountName}
		</if>
		<if test="institutionName != null and institutionName != ''">
			and al.institutionName like'%${institutionName}%'
		</if>
		<if test="term != null and term != ''">
			and to_char(to_date(al.term,'yyyy-MM-dd'),'yyyy-MM-dd')=#{term}
		</if>
		<if test="editUser != null and editUser != ''">
			and al.editUser like '%${editUser}%'
		</if>
	 	order by al.editTime DESC
	</select>
	
	<select id="findAccountEditLogCount" parameterType="com.fitech.domain.account.AccountEditLog" resultType="long">
		select count(1)
	  from ACCOUNT_EDITlOG al, ACCOUNT_EDITlOGITEM ai
	 	where al.id = ai.accounteditlog_id
		<if test="accountName != null and accountName != ''">
			and al.accountName=#{accountName}
		</if>
		<if test="institutionName != null and institutionName != ''">
			and al.institutionName like'%${institutionName}%'
		</if>
		<if test="term != null and term != ''">
			and to_char(to_date(al.term,'yyyy-MM-dd'),'yyyy-MM-dd')=#{term}
		</if>
		<if test="editUser != null and editUser != ''">
			and al.editUser like '%${editUser}%'
		</if>
	 	order by al.editTime DESC
	</select>
	
	
	<select id="findAccountEditLogTJ" parameterType="com.fitech.domain.account.AccountEditLog" resultType="com.fitech.domain.account.AccountEditLog">
		select t.editUser,
	       to_char(to_date(t.editDate, 'yyyy-MM-dd'), 'yyyy-MM-dd') as editDate,
	       t.accountName,
	       to_char(to_date(t.term, 'yyyy-MM-dd'), 'yyyy-MM-dd') as term,
	       t.institutionName,
	       NVL(sum(t.editLineNum) ,0) as editLineNum
	  from ACCOUNT_EDITlOG t
	 where 1 = 1
		<if test="accountName != null and accountName != ''">
			and t.accountName like'%${accountName}%'
		</if>
		<if test="institutionName != null and institutionName != ''">
			and t.institutionName like'%${institutionName}%'
		</if>
		<if test="term != null and term != ''">
			and to_char(to_date(t.term,'yyyy-MM-dd'),'yyyy-MM-dd')=#{term}
		</if>
		<if test="editUser != null and editUser != ''">
			and t.editUser like '%${editUser}%'
		</if>
		<if test="editDate != null and editDate != ''">
			and to_char(to_date(t.editDate,'yyyy-MM-dd'),'yyyy-MM-dd')=#{editDate}
		</if>
	 	group by t.editUser, t.editDate, t.accountName, t.term, t.institutionName
	 	<if test="editLineNum != null and editLineNum != ''">
	 		having sum(t.editLineNum) = ${editLineNum}
	 	</if>
	 order by t.editDate desc,
	          t.term desc,
	          t.editUser,
	          t.accountName,
	          t.institutionName
	</select>
	
	<select id="findAccountEditLogTJCount" parameterType="com.fitech.domain.account.AccountEditLog" resultType="long">
		select count(1) from (
		select 1 from ACCOUNT_EDITlOG t
		 where 1 = 1
		<if test="accountName != null and accountName != ''">
			and t.accountName like'%${accountName}%'
		</if>
		<if test="institutionName != null and institutionName != ''">
			and t.institutionName like'%${institutionName}%'
		</if>
		<if test="term != null and term != ''">
			and to_char(to_date(t.term,'yyyy-MM-dd'),'yyyy-MM-dd')=#{term}
		</if>
		<if test="editUser != null and editUser != ''">
			and t.editUser like '%${editUser}%'
		</if>
		<if test="editDate != null and editDate != ''">
			and to_char(to_date(t.editDate,'yyyy-MM-dd'),'yyyy-MM-dd')=#{editDate}
		</if>
	 	group by t.editUser, t.editDate, t.accountName, t.term, t.institutionName
	 	<if test="editLineNum != null and editLineNum != ''">
	 		having sum(t.editLineNum) = ${editLineNum}
	 	</if>
	 )
	</select>
</mapper>